<%- include ('../../partials/conf_header.ejs') %> 
<%- include ('../../partials/header.ejs') %>
<body >
  <div class="container" style="height: 100vh;">

    <form class="form-login" method="post" action="/recuperarsenha">
    
      <div style="text-align: center">
        <img src="../img/logologin.png" alt="logo" style="width: 130px" />
      </div>
      <br />

      <% if (mensagemcolaborador) { %>
              
        <div class="div-margin">
         <p class="alerta-erro"><%= mensagemcolaborador %></p> 
        </div>
  
        <style>
          .alerta-erro {
            background: #ffb2b2;
            color: #454545;
            font-weight: 400;
            text-align: center;
            border-radius: 8px;
            border: solid 1px #a42f2f;
            padding: 9px;
          }
  
          .div-margin {
            margin-top: 15px;
            margin-bottom: -15px;
          }
        </style>
       
        
       
        <script>
          // Aguardar 3 segundos e recarregar a página
          setTimeout(function() {
            window.location.href = '/recuperando/passo1';
          }, 3000);
        </script>
      <% } %>
    <br>
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="usuario" class="label-novo">ID SISTEC <span style="color: crimson;">*</span></label>
          <input type="text" class="form-control" id="empresa" name="empresa" required/>
        </div>
      
        <div class="col-sm-6">
          <label for="usuario" class="label-novo">CPF <span style="color: crimson;">*</span></label>
          <input type="text" class="form-control" id="CPF" name="cpf" required/>
        </div>
      </div>
      

      <div class="form-group row">
        <br>
        <h6 style="color: crimson;">
        </h6>
        <div class="form-group row">
          <div class="col text-center">
            <button type="submit" class="btn btn-outline-primary" style="width: 80%"> Prosseguir </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>

<%- include ('../../partials/footer.ejs') %> 
<%- include ('../../partials/conf_footer.ejs') %>


