<%- include ('../../partials/conf_header.ejs') %>
<%- include ('../../partials/header_sistema.ejs') %>

<body>
  <div class="principal" style="height: 100vh;">

    <div class="row mt-3 mb-3">
      <div class="col-12 col-md-6">
        <a href="/admin/cliente/novo"><button type="submit" class="btn btn-outline-primary btn-novo-cliente">Cadastrar novo <i class="bi bi-plus-circle-dotted"></i></button></a>
      </div>

      <div class="col-12 col-md-6">
        <div class="input-group" style="width: 41%; float: right;">
          <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Pesquisar">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="bi bi-search"></i>
            </div>
          </div>
        </div>
      </div>     
    </div>


    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">CPF</th>
          <th scope="col">Nome</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% clientes.forEach(cliente => { %>
          <tr>
            <th scope="row"><%= cliente.cpf %></th>
            <td><%= cliente.nome %></td>
            <td>
              <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
              <a href="/admin/cliente/detalhes/<%= cliente.id %>" style="text-decoration: none;">
                <button type="button" class="btn btn-info"><i class="bi bi-eye"></i></button>
              </a>            
              <a href="/acesso/cliente/orcamento">
                <button type="button" class="btn btn-success"><i class="bi bi-clipboard-plus"></i></button>
              </a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>

<%- include ('../../partials/footer.ejs') %>
<%- include ('../../partials/conf_footer.ejs') %>