<%- include ('../../partials/conf_header.ejs') %>
<%- include ('../../partials/header_sistema.ejs') %>


<body>
  <div class="principal" style="height: 100vh; text-transform: uppercase;">
    <fieldset>
      <legend>Dados Pessoais </legend>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nome" class="label-novo">Nome <span style="color: crimson;">*</span></label>
          <input type="text" class="form-control" name="nome" id="nome" value="<%= colaborador.nome%>" required>
        </div>
        <div class="form-group col-md-6">
          <label for="cpf" class="label-novo">CPF <span style="color: crimson;">*</span></label>
          <input type="text" class="form-control" name="cpf" id="cpf" value="<%= colaborador.cpf%>" required>
        </div>
      </div>
    </fieldset>
    <hr>
    <fieldset>
      <legend>Trabalhos </legend>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nome" class="label-novo">CLIENTE <span style="color: crimson;">*</span></label>
          <input type="text" class="form-control" name="cliente" id="cliente" value="" required>
        </div>
        <div class="form-group col-md-6">
          <label for="status" class="label-novo">STATUS</label>
          <input type="text" class="form-control" name="status" id="status" value="" required>
        </div>
      </div>
    </fieldset>
  </div>
</body>



<%- include ('../../partials/footer.ejs') %>
<%- include ('../../partials/conf_footer.ejs') %>