<%- include ('../../partials/conf_header.ejs') %>
<%- include ('../../partials/header_sistema.ejs') %>

<body>
  <div class="row">
    
    <div class="col-md-2 lateral">
    
      <ul class="lateral-ul">
        <li class="lateral-li">
          <a href="/admin/cliente/detalhes/<%= cliente.id %>">
            Dados Pessoais
          </a>
        </li>
        <li class="lateral-li" style="background-color: #b8b8c0">
          <a href="/admin/orcamento/novo/<%= cliente.id %>">
            Novo Orçamento
          </a>
        </li>
        <li class="lateral-li">
          <a href="/admin/orcamentos/decisao2/<%= cliente.id %>">
            Orçamentos Cadastrados
          </a>
        </li>
        <li class="lateral-li">
          <a href="/admin/orcamentos/prosseguir/<%= cliente.id %>">
            Agendamentos
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-10">
      <div class="principal">
        <div class="mt-3">
        
          <div class="form-row">
            <div class="form-group col-md-12">
              <br>
              <label for="nome" class="label-novo">Nome <span style="color: crimson;">*</span></label>
              <input type="text" class="form-control" name="nome" id="nome" value="<%= cliente.nome%>" readonly>
            </div>
          </div>
      
          <% enderecos.forEach (endereco => { %>
            <% if (endereco.clienteId === cliente.id) { %>
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="logadouro" class="label-novo">Logadouro <span style="color: crimson;">*</span></label>
                  <input type="text" class="form-control" name="logadouro" id="logadouro" value="<%= endereco.logadouro %>" readonly>
                </div>
                <div class="form-group col-md-4">
                  <label for="numero" class="label-novo">N° <span style="color: crimson;">*</span></label>
                  <input type="text" class="form-control" name="numero" id="numero" value="<%= endereco.numero %>" readonly>
                </div>
              </div>
            <% } %> 
          <% }) %>   
          
          <hr>
         

          <form method="POST" action="/recebimento/salvar" >
            <input type="hidden" value="<%= sessao.id %>" name="colaboradoreId"/>
            <input type="hidden" value="<%= cliente.id %>" name="clienteId"/>
            <input type="hidden" value="<%= cliente.id %>" name="id"/>
            
            
           
            <div class="row">
              
              <div class="form-group col-lg-4">
                <label for="quantidade" class="label-novo">Qtd <span style="color: crimson;">*</span></label>
                <input type="text" inputmode="numeric" class="form-control" name="quantidade" id="quantidade" required pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, '');" value="<%=orcamento.qtd%>">
              </div>
      
              <div class="form-group col-lg-4">
                <label for="marca" class="label-novo">PRESTAÇÃO<span style="color: crimson;">*</span></label>
                <select id="prestacaoSelect" class="form-control" name="prestacao">
                  <% prestacoes.forEach (prestacao => { %>
                    <% if (prestacao.id === orcamento.prestacoId) { %>
                      <option value="<%= prestacao.id %>" selected><%= prestacao.descricao %></option>
                    <% } else { %>
                      <option value="<%= prestacao.id %>"><%= prestacao.descricao %> </option>
                    <% } %>
                  
                  <% }) %>
                </select>
              </div>
    
              <div class="form-group col-lg-4">
                <label for="btus" class="label-novo">BTUS<span style="color: crimson;">*</span></label>
                <select id="selecaoBtus" class="form-control" name="btus">
                  <% btus.forEach (btu => { %>
                    <% if (btu.id === orcamento.btuId) { %>
                      <option value="<%= btu.id %>" selected><%= btu.descricao %></option>
                    <% } else { %>
                      <option value="<%= btu.id %>"><%= btu.descricao %></option>
                    <% } %>
                  <% }) %>
                </select>
              </div>
      
              <div class="form-group col-lg-4">
                <label for="marca" class="label-novo">MARCA<span style="color: crimson;">*</span></label>
                <select id="marcaSelect" class="form-control" name="marca">
                  <% marcas.forEach(marca => { %>
                    <% if (marca.id === orcamento.marcaId) { %>
                      <option value="<%= marca.id %>" selected><%= marca.descricao %></option>
                    <% } else { %>
                      <option value="<%= marca.id %>"><%= marca.descricao %></option>
                    <% } %>
                  <% }) %>
                </select>
              </div>

              <div class="form-group col-lg-4">
                <label for="modelo" class="label-novo">MODELO<span style="color: crimson;">*</span></label>
                <select id="modeloSelect" class="form-control" name="modelo">
                  <% modelos.forEach (modelo => { %>
                    <% if (modelo.id === orcamento.modeloId) { %>
                      <option value="<%= modelo.id %>" selected><%= modelo.descricao %></option>
                    <% } else { %>
                      <option value="<%= modelo.id %>"><%= modelo.descricao %></option>
                    <% } %>
                    
                  <% }) %>
                </select>
              </div>
      
              <div class="form-group col-lg-4">
                <label for="ambiente" class="label-novo">AMBIENTE<span style="color: crimson;">*</span></label>
                <select id="ambiente" class="form-control" name="ambiente">
                  <% ambientes.forEach (ambiente => { %>
                    <% if (ambiente.id === orcamento.ambienteId) { %>
                      <option value="<%= ambiente.id %>" selected><%= ambiente.descricao %></option>
                    <% } else { %>
                      <option value="<%= ambiente.id %>"><%= ambiente.descricao %></option>
                    <% } %> 
                  <% }) %> 
                </select>
              </div>
      
              <div class="form-group col-lg-4">
                <label for="valor" class="label-novo">VALOR COBRADO<span style="color: crimson;">*</span></label>
                <input type="text" class="form-control" name="valor" id="valor" onkeypress="$(this).mask(' ###.###.##0,00', {reverse: true});" placeholder="0,00" required value="<%= orcamento.valor.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>">
              </div>

              <div class="form-group col-lg-8">
                <label for="observacoes" class="label-novo">OBSERVAÇÕES <span style="color: crimson;">*</span></label>
                <input class="form-control" rows="1" name="observacao" value="<%= orcamento.observacao %>"></input>
              </div>
               
                  
              <br>
            </div>
            <hr>
           
            <div id="campoServicoContainer">
            </div>

            <div class="mt-3">
              <div class="form-row">
                <div class="form-group col text-center">
                  <button type="button" id="adicionarServicoButton" class="btn btn-primary float-left">Adicionar pagamentos <i class="bi bi-coin"></i></button>
                </div>
                <div class="form-group col text-center">
                  <button class="btn btn-success float-right">Salvar 
                    <i class="bi bi-check2-circle"></i></button>
                </div>
              </div>
            </div>
          </form>

          <div id="modeloCamposServico" style="display: none;">
            <input type="hidden" value="<%= sessao.id %>" name="colaboradoreId"/>
            <input type="hidden" value="<%= cliente.id %>" name="clienteId"/>
            <input type="hidden" value="<%= cliente.id %>" name="id"/>
            <input type="hidden" value="<%= cliente.empresaId %>" name="empresaId"/>
            <input type="hidden" value="<%= orcamento.id %>" name="orcamentoId"/>
            <hr>
           
            <div class="row">
              <div class="form-group col-lg-4">
                <label for="valor" class="label-novo">VALOR RECEBIDO</label>
                <input type="text" class="form-control" name="valor_recebido" id="valor_recebido" onkeypress="$(this).mask(' ###.###.##0,00', {reverse: true});" placeholder="0,00">
              </div>              
            
              <div class="form-group col-lg-3">
                <label for="valor" class="label-novo">FORMA DE PAGAMENTO</label>
                <select id="pagamento" class="form-control" name="pagamento" onchange="atualizarCampos()" required>
                  <option value="" data-parcelado="" disabled selected hidden>Selecione uma opção</option>
                  <% var verifica = false %>
                  <% pagamentos.forEach(pagamento => { %>
                    <option value="<%= pagamento.id %>" data-parcelado="<%= pagamento.parcelado %>"><%= pagamento.descricao %></option>
                  <% }) %>
                </select>
              </div>

         
              <div class="form-group col-lg-4" id="campoParcelamento" style="display: none;">
                <label for="parcelamento" class="label-novo">PARCELAMENTO <span style="color: crimson;">*</span></label>
                <input type="text" inputmode="numeric" class="form-control" name="parcelamento" id="parcelamento" required pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, '');" readonly>
              </div>
              

              <!-- Campo de preenchimento desabilitado -->
              <div class="form-group col-lg-4" id="campoPreenchimento" style="display: block;">
                <label for="a_vista" class="label-novo">PARCELAMENTO <span style="color: crimson;">*</span></label>
                <input type="text" class="form-control" readonly disabled>
              </div>
          
              <div class=" form-group col-lg-1 m-auto text-center">
                <button class="btn-danger botao-remover-servico rounded-circle"><i class="bi bi-x-lg"></i></button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</body>



<!-- Inclua as bibliotecas necessárias -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.maskmoney/3.0.2/jquery.maskmoney.min.js"></script>

<script>
  var botaoAdicionarServico = document.getElementById('adicionarServicoButton');
  var camposServicoContainer = document.getElementById('campoServicoContainer');

  botaoAdicionarServico.addEventListener('click', function () {
    var novoCampoServico = document.getElementById('modeloCamposServico').cloneNode(true);
    novoCampoServico.style.display = 'block';

    var botaoRemover = novoCampoServico.querySelector('.botao-remover-servico');
    botaoRemover.addEventListener('click', function () {
      camposServicoContainer.removeChild(novoCampoServico);
    });

    camposServicoContainer.appendChild(novoCampoServico);

    // Adiciona o ouvinte de evento para o novo campo
    var novoCampoPagamento = novoCampoServico.querySelector('#pagamento');
    novoCampoPagamento.addEventListener('change', function () {
      atualizarCampos(novoCampoServico);
    });
  });

  function atualizarCampos(campoServico) {
    var select = campoServico.querySelector('#pagamento');
    var selectedOption = select.options[select.selectedIndex];
    var verifica = selectedOption.getAttribute('data-parcelado');
    var campoPreenchimento = campoServico.querySelector('#campoPreenchimento');
    var campoParcelamento = campoServico.querySelector('#campoParcelamento');
    var qtdParcelas = campoServico.querySelector('#parcelamento');

    campoParcelamento.style.display = 'block';
    campoPreenchimento.style.display = 'none';

    // Define o campo como editável apenas se a forma de pagamento permitir parcelamento
    if (verifica === 'true') {
      qtdParcelas.readOnly = false;
    } else {
      qtdParcelas.readOnly = true;
      qtdParcelas.value = '1';

      // Defina o valor '1' se débito for selecionado
      if (selectedOption.value === 'debito') {
        qtdParcelas.value = '1';
      }
    }
  }
</script>




<%- include ('../../partials/conf_footer.ejs') %>
