<%- include ('../../partials/conf_header.ejs') %>
<%- include ('../../partials/header_sistema.ejs') %>
<body>
  <div class="row">
    
    <div class="col-md-2 lateral">
      <ul class="lateral-ul">
        <li class="lateral-li">
          <a href="/admin/cliente/detalhes/<%= cliente.id %>">
            Dados Pessoais
          </a>
        </li>
        <li class="lateral-li">
          <a href="/admin/orcamento/novo/<%= cliente.id %>">
            Novo Orçamento
          </a>
        </li>
        <li class="lateral-li">
          <a href="/admin/orcamentos/decisao2/<%= cliente.id %>">
            Orçamentos Cadastrados
          </a>
        </li>
        <li class="lateral-li" style="background-color: #b8b8c0">
          <a href="/admin/orcamentos/prosseguir/<%= cliente.id %>">
            Agendamentos
          </a>
        </li>
        <li class="lateral-li">
          <a href="/admin/orcamentos/envios/<%= cliente.id %>">
            Enviar Orçamentos
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="principal">
        <div class="mt-3">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="nome" class="label-novo">Nome <span style="color: crimson;">*</span></label>
              <input type="text" class="form-control" name="nome" id="nome" value="<%= cliente.nome%>" readonly>
            </div>
          </div>
      
          <% enderecos.forEach (endereco => { %>
            <% if (endereco.clienteId === cliente.id) { %>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="logadouro" class="label-novo">Logadouro <span style="color: crimson;">*</span></label>
                  <input type="text" class="form-control" name="logadouro" id="logadouro" value="<%= endereco.logadouro %>" readonly>
                </div>
                <div class="form-group col-md-6">
                  <label for="numero" class="label-novo">N° <span style="color: crimson;">*</span></label>
                  <input type="text" class="form-control" name="numero" id="numero" value="<%= endereco.numero %>" readonly>
                </div>
              </div>
            <% } %> 
          <% }) %>   
        </div>  
        <!-- Botão para abrir o modal -->
<button id="openModalBtn" style="display: none;">Abrir Modal</button>

<!-- Estrutura do modal -->
<div id="errorModal" class="modal">
  <div class="modal-content">
    <p id="errorMessage"></p>
    <button class="btn btn-ok" onclick="fecharEMRecarregar()">Ok</button>
  </div>
</div>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-agendados-tab" data-toggle="tab" href="#nav-agendados" role="tab" aria-controls="nav-agendados" aria-selected="false">Agendados</a>
            <a class="nav-item nav-link" id="nav-nao-agendados-tab" data-toggle="tab" href="#nav-nao-agendados" role="tab" aria-controls="nav-nao-agendados" aria-selected="true">Não agendados</a>                
          </div>
          <div class="tab-content" id="nav-tabContent">

             <!--Abri-->

            <div class="tab-pane show active" id="nav-agendados" role="tabpanel" aria-labelledby="nav-agendados-tab">
              <div class="row">
                <% orcamentos.forEach((orcamento) => { %>
                  <% agendas.forEach ((agenda) => { %>
                    <% if ((orcamento.clienteId == cliente.id) && (agenda.orcamentoId == orcamento.id)) { %>
  
                      <table class="table table-bordered mt-2">
                        <thead>
                          <tr>
                            <th>QUANTIDADE</th>
                            <th>SERVIÇO PRESTADO</th>
                            <th>BTUS</th>
                            <th>MARCA</th>
                            <th>MODELO</th>
                            <th>AMBIENTE</th>
                            <th>OBSEVAÇÕES</th>
                            <th>VALOR</th>
                            <th>VALOR RECEBIDO</th>
                            <th>AÇÕES</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <input type="hidden" class="form-control" name="orcamento" value="<%= orcamento.id%>" readonly>
                            <td><%= orcamento.qtd %> </td>
                            <% prestacoes.forEach ((prestacao) => { %>
                              <% if (prestacao.id == orcamento.prestacoId) { %> 
                                <td><%= prestacao.descricao %></td>
                              <% } %>
                            <% }) %>
                            <% btus.forEach ((btu) => { %>
                              <% if (btu.id == orcamento.btuId) { %> 
                                <td><%= btu.descricao %></td>
                              <% } %>
                            <% }) %>
                            <% marcas.forEach ((marca) => { %>
                              <% if (marca.id == orcamento.btuId) { %> 
                                <td><%= marca.descricao %></td>
                              <% } %>
                            <% }) %>
                            <% modelos.forEach ((modelo) => { %>
                              <% if (modelo.id == orcamento.btuId) { %> 
                                <td><%= modelo.descricao %></td>
                              <% } %>
                            <% }) %>
                            <% ambientes.forEach ((ambiente) => { %>
                              <% if (ambiente.id == orcamento.btuId) { %> 
                                <td><%= ambiente.descricao %></td>
                              <% } %>
                            <% }) %>
                            <td><%= orcamento.observacao %></td>
                            <td>R$: <%= orcamento.valor.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></td>
                            <td>R$: <%= orcamento.valor_recebido.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></td>
                            <td>
                              <a href="/admin/orcamentos/editar/<%= orcamento.clienteId %>/<%= orcamento.id %>" style="text-decoration: none;">
                                <i class="bi bi-eye"></i>
                              </a>
                            </td>
                            
                            
                          </tr>
                          <tr>
                            <td colspan="10">
                              <div>
                                <% agendas.forEach((agenda) => { %>
                                  <% if ((agenda.clienteId == orcamento.clienteId) && (agenda.orcamentoId == orcamento.id))  { %>
                                    <div class="agenda-item" id="agenda-item-<%= orcamento.id %>" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
                                      <i class="bi bi-calendar2-week"></i>
                                      <span>
                                        &nbsp;<%= new Date(agenda.previsao_inicio).toLocaleDateString('pt-BR', { timeZone: 'UTC' }) %> -
                                        <%= new Date(agenda.previsao_fim).toLocaleDateString('pt-BR', { timeZone: 'UTC' }) %>
                                      </span>
                                      
                                      <% colaboradores.forEach (colaborador => { %>
                                        <% if ((colaborador.id == agenda.colaboradoreId) && (agenda.clienteId == orcamento.clienteId) ) { %>
                                          <i class="bi bi-person ml-2"></i><span>&nbsp<%= colaborador.nome %></span>
                                        <% } %>
                                      <% }) %>
                                      <i class="bi bi-clock ml-2"></i><span>&nbsp<%= agenda.horario %></span>
                                      
  
                                      <button type="button" id="btn-editar<%= orcamento.id %>" class="btn-agendar-verde ajuste-input" style="cursor: pointer;" onclick="toggleEditarCampos('<%= orcamento.id %>')">
                                        Editar
                                      </button>
                                      <form method="POST"
                                      action="/agendamentos/deletar"
                                      style="display: inline"
                                      onsubmit="confirmardelete(event,this)">
                                        <input type="hidden" name="id_agendamento" value="<%= agenda.id %>">
                                        <input type="hidden" name="id_cliente_a" value="<%= agenda.clienteId %>">
                                        <button 
                                        class="btn-excluir" style="cursor: pointer;" >
                                          Exluir
                                        </button>

                                      </form>
                                      
  
                                 
                                    </div>
                                    <!-- Campos de Edição (inicialmente ocultos) -->
                                    <div id="campos-edicao<%= orcamento.id %>" style="display: none; align-items: center;" class="mt-1">
                                      <form action="/orcamento/agendamento/editar/salvar" method="post">
                                        <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
                                          
                                  
                                          <input class="data-margin ajuste-input" id="date1Edicao<%= orcamento.id %>" type="date" name="data1Edicao" required/>
                                          <input class="ajuste-input" id="date2Edicao<%= orcamento.id %>" name="data2Edicao" type="date" required/>
                                          <select id="coladoradorEdicao<%= orcamento.id %>" class="data-margin ajuste-input" id="colaboradorEdicao" name="colaboradorEdicao"  required>
                                            <option value="" disabled selected>Escolha um funcionário</option>
                                            <% colaboradores.forEach (colaborador => { %>
                                              <option value="<%= colaborador.id %>"><%= colaborador.nome %></option>
                                            <% }) %>
                                          </select>
                                          
                                          <input class="ajuste-input" id="horarioEdicao<%= orcamento.id %>" type="time" min="09:00" max="18:00" name="horarioEdicao" required />
  
                                          <input type="hidden" class="ajuste-input" i name="orcamentoId" value="<%= orcamento.id%>"  />
                                          <input type="hidden" class="ajuste-input" i name="id" value="<%= orcamento.clienteId%>"  />
                                         
    
                                          <button type="submit" id="" class="btn-agendar-verde ajuste-input" style="cursor: pointer;">
                                            Salvar
                                          </button>
                                          <script>
                                            document.addEventListener('DOMContentLoaded', function () {
                                              const dateInput1 = document.getElementById('date1Edicao<%= orcamento.id %>');
                                              const dateInput2 = document.getElementById('date2Edicao<%= orcamento.id %>');
                                          
                                              // Adiciona um ouvinte de evento para garantir que a data selecionada seja sempre igual ou após a data atual
                                              dateInput1.addEventListener('input', function () {
                                                const selectedDate1 = new Date(dateInput1.value);
                                                const currentDate = new Date();
                                          
                                                // Garante que date1Edicao não seja anterior à data atual
                                                if (selectedDate1 < currentDate) {
                                                  dateInput1.value = getCurrentDate();
                                                }
                                          
                                                // Atualiza a data mínima para date2Edicao como a data selecionada em date1Edicao
                                                dateInput2.min = dateInput1.value;
                                              });
                                          
                                              // Adiciona um ouvinte de evento para garantir que a data selecionada seja sempre igual ou após a data atual
                                              dateInput2.addEventListener('input', function () {
                                                const selectedDate1 = new Date(dateInput1.value);
                                                const selectedDate2 = new Date(dateInput2.value);
                                          
                                                // Garante que date2Edicao não seja anterior a date1Edicao
                                                if (selectedDate2 < selectedDate1) {
                                                  dateInput2.value = dateInput1.value;
                                                }
                                              });
                                          
                                              // Define a data mínima como a data atual para date1Edicao
                                              dateInput1.min = getCurrentDate();
                                              // Define a data mínima como a data de date1Edicao para date2Edicao
                                              dateInput2.min = dateInput1.value;
                                            });
                                          
                                            function getCurrentDate() {
                                              const today = new Date();
                                              const year = today.getFullYear();
                                              let month = today.getMonth() + 1;
                                              let day = today.getDate();
                                          
                                              // Adiciona um zero à esquerda para meses/dias menores que 10
                                              month = month < 10 ? '0' + month : month;
                                              day = day < 10 ? '0' + day : day;
                                          
                                              return `${year}-${month}-${day}`;
                                            }
                                          </script>
                                          
                                        </div>
                                      </form>
                                          
                                      
                                      </div>
                                      
                                    
                                  <% } %>
                                <% }) %>
                                
                                                
                              </div>
                            </td>
                          </tr>
                            
                        </tbody>
                      </table>
    
                      
                    <% } %>
                  <% }) %>
                  
                <% }) %>
              </div>
            </div>
            <div class="tab-pane" id="nav-nao-agendados" role="tabpanel" aria-labelledby="nav-nao-agendados-tab">
              <div class="row">

                
                  <% orcamentos.forEach((orcamento) => { %>
                      <% if ((orcamento.clienteId == cliente.id) && (orcamento.status == 0))  { %>
                        <form method="post" action="/orcamento/agendamento/salvar" style="width: 100vw;">
                          <input type="hidden" class="form-control" name="id" id="id" value="<%= cliente.id%>" readonly>
                          <input type="hidden" class="form-control" name="empresa" id="empresa" value="<%= cliente.empresaId %>" readonly>
                          <table class="table table-bordered mt-2">
                            <thead>
                              <tr>
                                <th>QUANTIDADE</th>
                                <th>SERVIÇO PRESTADO</th>
                                <th>BTUS</th>
                                <th>MARCA</th>
                                <th>MODELO</th>
                                <th>AMBIENTE</th>
                                <th>OBSEVAÇÕES</th>
                                <th>VALOR</th>
                                <th>VALOR RECEBIDO</th>
                                <th>AÇÕES</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <input type="hidden" class="form-control" name="orcamento" value="<%= orcamento.id%>" readonly>
                                <td><%= orcamento.qtd %> </td>
                                <% prestacoes.forEach ((prestacao) => { %>
                                  <% if (prestacao.id == orcamento.prestacoId) { %> 
                                    <td><%= prestacao.descricao %></td>
                                  <% } %>
                                <% }) %>
                                <% btus.forEach ((btu) => { %>
                                  <% if (btu.id == orcamento.btuId) { %> 
                                    <td><%= btu.descricao %></td>
                                  <% } %>
                                <% }) %>
                                <% marcas.forEach ((marca) => { %>
                                  <% if (marca.id == orcamento.btuId) { %> 
                                    <td><%= marca.descricao %></td>
                                  <% } %>
                                <% }) %>
                                <% modelos.forEach ((modelo) => { %>
                                  <% if (modelo.id == orcamento.btuId) { %> 
                                    <td><%= modelo.descricao %></td>
                                  <% } %>
                                <% }) %>
                                <% ambientes.forEach ((ambiente) => { %>
                                  <% if (ambiente.id == orcamento.btuId) { %> 
                                    <td><%= ambiente.descricao %></td>
                                  <% } %>
                                <% }) %>
                                <td><%= orcamento.observacao %></td>
                                <td>R$: <%= orcamento.valor.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></td>
                                <td>R$: <%= orcamento.valor_recebido.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></td>
                                <td>
                                  <a href="/admin/orcamentos/editar/<%= orcamento.clienteId %>/<%= orcamento.id %>" style="text-decoration: none;">
                                    <i class="bi bi-eye"></i>
                                  </a>
                                </td>
                       
                                
                              </tr>
                              <tr>
                                <td colspan="10">
                                  <div style="display: flex; align-items: center; justify-content: center;">
                                    <button type="button" class="btn-light agendar-button verde-icon ajuste-input" data-target="date<%= orcamento.id %> date2<%= orcamento.id %> colaborador<%= orcamento.id %> horario<%= orcamento.id %>" style="cursor: pointer;">
                                      <i class="bi bi-calendar-check"></i>
                                    </button>
                                    <input class="data-margin ajuste-input" id="date<%= orcamento.id %>" type="date" name="data1" disabled required/>
                                    <input class="ajuste-input" id="date2<%= orcamento.id %>" name="data2" type="date" disabled required/>
                                    
                                    <select id="colaborador<%= orcamento.id %>" class="data-margin ajuste-input" name="colaborador" disabled required>
                                      <option value="" disabled selected>Escolha um funcionário</option>
                                      <% colaboradores.forEach (colaborador => { %>
                                        <option value="<%= colaborador.id %>"><%= colaborador.nome %></option>
                                      <% }) %>
                                    </select>
                                    
                                    <input class="ajuste-input" id="horario<%= orcamento.id %>" type="time" min="09:00" max="18:00" name="horario" required disabled/>
                                    
                                    <button type="submit" id="btn-agendar<%= orcamento.id %>" class="btn-agendar-verde ajuste-input" style="cursor: pointer; display: none;"> 
                                      Agendar
                                    </button>
                                  </div>
                                </td>
                                
                              </tr>
                              
                            </tbody>
                          </table>
    
                      </form>
                      <% } %>
                    <% }) %>
                    
                                   
              </div> 
            </div>


            <!--Fecho-->
          </div>
        </nav>
      
      </div>
    </div>

  </div>
 
</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/pt.js"></script> <!-- Adicione esta linha para o arquivo de tradução -->

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const agendarButtons = document.querySelectorAll('.agendar-button');

    agendarButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        const targets = button.getAttribute('data-target').split(' ');
        targets.forEach(function (targetId) {
          const dateInput = document.getElementById(targetId);

          if (dateInput.disabled) {
            dateInput.disabled = false;
            dateInput.min = getCurrentDate();
            button.innerHTML = '<i class="bi bi-calendar2-x vermelho-icon"></i>';

            // Exibe o segundo botão
            const secondButtonId = 'btn-agendar' + targetId.substring(4);
            const secondButton = document.getElementById(secondButtonId);
            secondButton.style.display = 'block';

            // Habilita o campo de colaborador
            const collaboratorId = 'colaborador' + targetId.substring(4);
            document.getElementById(collaboratorId).disabled = false;

            // Habilita o campo de horário
            const horarioId = 'horario' + targetId.substring(4);
            document.getElementById(horarioId).disabled = false;
          } else {
            dateInput.disabled = true;
            dateInput.removeAttribute('min');
            button.innerHTML = '<i class="bi bi-calendar-check verde-icon"></i>';

            // Oculta o segundo botão
            const secondButtonId = 'btn-agendar' + targetId.substring(4);
            const secondButton = document.getElementById(secondButtonId);
            secondButton.style.display = 'none';

            // Desabilita o campo de colaborador
            const collaboratorId = 'colaborador' + targetId.substring(4);
            document.getElementById(collaboratorId).disabled = true;

            // Desabilita o campo de horário
            const horarioId = 'horario' + targetId.substring(4);
            document.getElementById(horarioId).disabled = true;
          }

          // Adiciona ouvinte de eventos para atualizar min de data2 ao alterar data1
          if (targetId.startsWith('date')) {
            const correspondingDate2Id = 'date2' + targetId.substring(4);
            const date2Input = document.getElementById(correspondingDate2Id);

            dateInput.addEventListener('input', function () {
              date2Input.min = dateInput.value;
            });
          }
        });
      });
    });

    function getCurrentDate() {
      const today = new Date();
      const year = today.getFullYear();
      let month = today.getMonth() + 1;
      let day = today.getDate();

      // Adiciona um zero à esquerda para meses/dias menores que 10
      month = month < 10 ? '0' + month : month;
      day = day < 10 ? '0' + day : day;

      return `${year}-${month}-${day}`;
    }
  });
</script>

<script>
  const previsaoInicio = flatpickr('#previsao_inicio', {
    dateFormat: 'd/m/Y',
    enableTime: false,
    locale: 'pt',
    minDate: 'today', // Impede a seleção de datas anteriores à data atual
    // Adicione outras opções conforme necessário
  });

  const previsaoFim = flatpickr('#previsao_fim', {
    dateFormat: 'd/m/Y',
    enableTime: false,
    locale: 'pt',
    minDate: previsaoInicio.selectedDates[0], // Impede datas anteriores à previsão de início
    // Adicione outras opções conforme necessário
  });
</script>

<!-- Script JavaScript para exibir/ocultar campos -->
<script>
  function toggleEditarCampos(orcamentoId) {
    const botaoEditar = document.getElementById(`btn-editar${orcamentoId}`);
    const camposEdicao = document.getElementById(`campos-edicao${orcamentoId}`);
    
    // Alternar a visibilidade dos campos de edição
    if (camposEdicao.style.display === 'none') {
      camposEdicao.style.display = 'block';
      botaoEditar.innerHTML = 'Cancelar';
      botaoEditar.style.backgroundColor = 'red'; // Adicione esta linha
    } else {
      camposEdicao.style.display = 'none';
      botaoEditar.innerHTML = 'Editar';
      botaoEditar.style.backgroundColor = ''; // Limpa o estilo para usar a classe do CSS
    }
  }
</script>

<!-- Adicione este script abaixo do código anterior -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function confirmardelete(event, form) {
    event.preventDefault();

    Swal.fire({
      //title: 'Tem certeza?',
      text: 'Tem certeza que quer excluir esse agendamento?',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Sim, excluir!',
      cancelButtonText: 'Cancelar',
      width: '300px', // Largura do modal
      heigt: '200px',
      
    }).then((result) => {
      if (result.isConfirmed) {
        form.submit();
      }
    });
  }
</script>

<script>
  // Função para abrir o modal
  function abrirModal() {
    document.getElementById('errorModal').style.display = 'block';
  }

  // Função para fechar o modal e recarregar a página
  function fecharEMRecarregar() {
    document.getElementById('errorModal').style.display = 'none';
    // Recarregar a página após um pequeno atraso para permitir o fechamento do modal
    setTimeout(function () {
      location.href = '/admin/orcamentos/prosseguir/<%=cliente.id%>';
    }, 100);
  }

  // Verificar se há uma mensagem de erro e exibi-la no modal
  const errorMessage = '<%= errorMessage %>'; // Substitua pelo método correto de obter a mensagem no seu template engine
  if (errorMessage) {
    document.getElementById('errorMessage').innerText = errorMessage;
    abrirModal();
  }

  // Se preferir usar jQuery para abrir o modal
  // $(document).ready(function() {
  //   abrirModal();
  // });

  // Ou abrir o modal ao carregar a página
  // window.onload = abrirModal;
</script>





<%- include ('../../partials/conf_footer.ejs') %>
