<%- include ('../../partials/conf_header.ejs') %>
<%- include ('../../partials/header_sistema.ejs') %>

<body>
  <div class="row">
    <div class="col-md-2">
      <a href="/admin/cliente/detalhes/<%= cliente.id %>">
        Dados Pessoais
      </a>
      <br>
      <a href="/admin/orcamento/novo/<%= cliente.id %>">
        Novo Orçamento
      </a>
      <br>
      <a href="/admin/orcamentos/decisao/<%= cliente.id %>">
        Orçamentos Cadastrados
      </a>
      <br>
      <a href="">
        Orçamentos Finalizados
      </a>
      
    </div>
    <div class="col-md-10">
      <div class="tab-content principal" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="dados-pessoais" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <!-- INICIO DADOS PESSOAIS -->
            <div class="principal" style="height: 100vh; text-transform: uppercase;">
              <form method="POST" action="">
                <div class="p-1" style="background-color: #e3e3e3;">
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="nome" class="label-novo">Nome <span style="color: crimson;">*</span></label>
                      <input type="text" class="form-control" name="nome" id="nome" value="<%= cliente.nome%>" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="cpf" class="label-novo">CPF <span style="color: crimson;">*</span></label>
                      <input type="text" class="form-control" name="cpf" id="cpf" value="<%= cliente.cpf%>" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="rg" class="label-novo">RG</label>
                      <input type="text" class="form-control" name="rg" id="rg" value="<%= cliente.rg%>">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="celular" class="label-novo">Celular <span style="color: crimson;">*</span></label>
                      <input type="text" class="form-control" name="celular" id="celular" value="<%= cliente.celular%>" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="telefone" class="label-novo">Telefone</label>
                      <input type="text" class="form-control" name="telefone" id="telefone" value="<%= cliente.telefone%>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="complemento" class="label-novo">E-mail <span style="color: crimson;">*</span></label>
                    <input type="email" class="form-control" name="email" id="email" value="<%= cliente.email%>" required>
                  </div>
                  <div class="form-group">
                    <label for="qtd" class="label-novo">Como conheceu nossa empresa? <span style="color: crimson;">*</span></label>
                    <select class="form-control" name="origem">
                      <% origens.forEach((origem) => { %>
                        <% if (origem.id == cliente.origenId) { %>
                          <option value="<%= origem.id %>"><%= origem.descricao %></option>
                        <% } %>
                      <% }) %>
                    </select>
                  </div>
                </div>

                <div class="p-1 mt-1" style="background-color: #e3e3e3;">
                  <% enderecos.forEach (endereco => { %>
                    <% if (endereco.clienteId === cliente.id) { %>
                      <div class="form-row">
                        <div class="form-group col-md-8">
                          <label for="logadouro" class="label-novo">Logadouro <span style="color: crimson;">*</span></label>
                          <input type="text" class="form-control" name="logadouro" id="logadouro" value="<%= endereco.logadouro %>" required>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="numero" class="label-novo">N° <span style="color: crimson;">*</span></label>
                          <input type="text" class="form-control" name="numero" id="numero" value="<%= endereco.numero %>" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="complemento" class="label-novo">Complemento <span style="color: crimson;">*</span></label>
                        <input type="text" class="form-control" name="complemento" id="complemento" value="<%= endereco.complemento %>" required>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="cidade" class="label-novo">Cidade <span style="color: crimson;">*</span></label>
                          <input type="text" class="form-control" name="cidade" id="cidade" value="<%= endereco.cidade %>" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="cep" class="label-novo">CEP <span style="color: crimson;">*</span></label>
                          <input type="text" class="form-control" name="cep" id="cep" value="<%= endereco.cep %>" required>
                        </div>
                      </div>
                    <% } %>
                  <% }) %>
                </div>
               
              
               
          
             
              
                
          
                <div class="row">
                  
                  <div class="col mt-3">
                    <a type="button"class="btn bg-secondary" style="width: 100%; color: aliceblue;" data-toggle="modal" data-target="#exampleModal"><i class="bi bi-calculator"></i> CALCULO RÁPIDO</a>
                  </div>
                  <div class="col mt-3">
                    <button class="btn btn-success" style="width: 100%;">SALVAR ALTERAÇÕES</button>
                  </div>
                </div>
          
                
                
              
              </form>
            </div>
          <!-- FIM DADOS PESSOAIS -->
        
      
        
      </div>
      <input value="<%= cliente.id %>" name="id"/>
      
    </div>
  </div>
  

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Novo orçamento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="cpf" class="label-novo">Comprimento <span style="color: crimson;">*</span></label>
              <input type="number" class="form-control" name="comprimento" id="comprimento" required>
            </div>
            <div class="form-group col-md-6">
              <label for="cpf" class="label-novo">Largura <span style="color: crimson;">*</span></label>
              <input type="number" class="form-control" name="largura" id="largura" required>
            </div>
            <div class="form-group col-md-6">
              <label for="cpf" class="label-novo">Altura <span style="color: crimson;">*</span></label>
              <input type="number" class="form-control" name="altura" id="altura" required>
            </div>
            <div class="form-group col-md-6">
              <label for="cpf" class="label-novo">Fator isolamento <span style="color: crimson;">*</span></label>
              <input type="number" class="form-control" name="largura" id="largura" required>
            </div>
            <div class="form-group col-md-6">
              <label for="cpf" class="label-novo">Qtd de pessoas <span style="color: crimson;">*</span></label>
              <input type="number" class="form-control" name="pessoas" id="pessoas" required>
            </div>
            <div class="form-group col-md-6">
              <label for="cpf" class="label-novo">Fontes de calor<span style="color: crimson;">*</span></label>
              <input type="number" class="form-control" name="largura" id="largura" required>
            </div>
            <div class="form-group col-md-6">
              <label for="cpf" class="label-novo">Sugestão de Btus<span style="color: crimson;">*</span></label>
              <select id="selecaoBtus" style="display: none;" class="form-control">
                <option value="7">7 BTUs</option>
                <option value="9">9 BTUs</option>
                <option value="12">12 BTUs</option>
              </select>
            </div>
          </div>
        
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-primary" onclick="calcularESelecionarBtus()">Calcular</button>
         <button id="alterarBotao" class="btn btn-primary"  onclick="habilitarEdicao()"  style="display: none;">Prosseguir para orçamento</button>
        </div>
      </div>
    </div>
  </div>



  
  
</body>

<script>

  function calcularESelecionarBtus() {
    var largura = parseFloat(document.getElementById('largura').value);
  
    console.log(largura)
    if (isNaN(largura)) {
    alert('Por favor, preencha todos os campos antes de calcular.');
    return;
    }

    // Realize os cálculos, por exemplo:
    var resultado = largura * largura;
    
    // Obtenha o elemento select
    var selecaoBtus = document.getElementById('selecaoBtus');
  
    // Calcule a diferença mínima e inicialize a variável para armazenar o valor mais próximo
    var diferencaMinima = Infinity;
    var opcaoSelecionada = null;
  
    // Percorra as opções do select
    for (var i = 0; i < selecaoBtus.options.length; i++) {
      var valorOpcao = parseFloat(selecaoBtus.options[i].value);
      var diferenca = Math.abs(resultado - valorOpcao);
  
      // Verifique se a diferença é menor que a diferença mínima atual
      if (diferenca < diferencaMinima) {
        diferencaMinima = diferenca;
        opcaoSelecionada = selecaoBtus.options[i];
      }
    }
  
    // Selecione a opção mais próxima
    opcaoSelecionada.selected = true;
    selecaoBtus.style.display = 'block'
    alterarBotao.style.display = 'block';
  }
  
  
  //CALCULAR BTUS
  function calcularOrcamento() {
    var largura = parseFloat(document.getElementById('largura').value);
  
    // Realize os cálculos, por exemplo:
    var teste = largura * largura;
  
     // Selecione o campo de entrada e o botão "Alterar"
    var resultadoInput = document.getElementById('resultadoInput');
    var alterarBotao = document.getElementById('alterarBotao');
  
    // Defina o valor do campo de entrada com o resultado
    resultadoInput.value = 'Carga Térmica: ' + teste + ' BTUs';
  
    // Mostre o campo de entrada e o botão "Alterar"
    resultadoInput.style.display = 'block';
    alterarBotao.style.display = 'block';
  }
  
  
  </script>

<script>
  var botaoAdicionarServico = document.getElementById('adicionarServicoButton');
  var camposServicoContainer = document.getElementById('campoServicoContainer'); // Use o ID correto do contêiner
  
  // Adicione um ouvinte de evento para o botão "Adicionar mais serviços"
  botaoAdicionarServico.addEventListener('click', function () {
    var novoCampoServico = document.getElementById('modeloCamposServico').cloneNode(true); // Clone o modelo
  
    novoCampoServico.style.display = 'block'; // Tornar o novo campo de serviço visível
  
    // Adicione um ouvinte de evento para o botão "X" do novo campo de serviço
    var botaoRemover = novoCampoServico.querySelector('.botao-remover-servico');
    botaoRemover.addEventListener('click', function () {
      camposServicoContainer.removeChild(novoCampoServico); // Remova o campo de serviço
    });
  
    camposServicoContainer.appendChild(novoCampoServico); // Adicione o novo campo de serviço ao contêiner
  });
  
  </script>

<%- include ('../../partials/conf_footer.ejs') %>